.photo-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: content;
    margin-left:30vh;
    background: url(/public/logo.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
  }
  
  .photo-container.hovered {
    transform: scale(1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  
  .photo {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
  }
  
  .photo-container.hovered .photo {
    transform: scale(1);
  }
  
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}